html
head

- var per = permanent[0].profileObj
 p Welcome to #{title}
 h1= "basic information of patient"
ul    
      li= "name" + ': ' + JSON.stringify(per.Name)
      li= "gender" + ': ' + JSON.stringify(per.GenderType)
      li= "address" + ': ' + JSON.stringify(per.Address)
      li= "medical history" + ':'+JSON.stringify(per.MedicalHistory)
      li= "address" + ': ' + JSON.stringify(per.Address)
      li= "DOB" + ': ' + JSON.stringify(per.DOB)
      li= "FamilyPhysicianName" + ': ' + JSON.stringify(per.FamilyPhysicianName)
      li= "address" + ': ' + JSON.stringify(per.Address)
      li= "registered" + ': ' + JSON.stringify(permanent[0].created_at)
h1= "patients health records"

- for(let i=1;i<permanent.length;i++){
- console.log("growAble    "+permanent[i])
 li= "remarks"+ ' : '+JSON.stringify(permanent[i].growableObj.Remarks)
 li= "DiseaseType"+ ' : '+JSON.stringify(permanent[i].growableObj.DiseaseType)
 li= "PulseRate"+ ' : '+JSON.stringify(permanent[i].growableObj.PulseRate)
 li= "BloodPressure"+ ' : '+JSON.stringify(permanent[i].growableObj.BloodPressure)
 li= "Weight"+ ' : '+JSON.stringify(permanent[i].growableObj.Weight)
 li= "Height"+ ' : '+JSON.stringify(permanent[i].growableObj.Height)
 li= "Blood"+ ' : '+JSON.stringify(permanent[i].growableObj.Blood)
 li= "last visited "+ ' : '+JSON.stringify(permanent[i].created_at)
-}

        